.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6em 16%;
    gap: 1.5em;
}

.cabecalho__link {
    text-decoration: none;
    font-weight: 600;
    color: var(--cor-vermelho);
}

.cabecalho__titulo {
    color: var(--cor-preto);
    font-weight: 600;
    font-size: 48px;
}

.cabecalho__texto {
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 20px;
    padding-top: 0.75em;
    text-align: center;
    line-height: 30px;
}